@import "tailwindcss";

@theme {
  --color-camp-green: #22c55e;
  --color-camp-green-hover: #16a34a;
  --color-camp-green-light: #86efac;
  --color-camp-green-dark: #14532d;
  
  --breakpoint-tv: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0f172a;
  min-height: 100%;
  overflow-x: hidden;
}